* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1200px;
  margin: auto;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
}

.index-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  &__input {
    line-height: 26px;
    outline: none;
    border: 2px solid violet;
    margin: 2px;
    border-radius: 4px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}

.box {
  display: flex;

  &__item {
    border: 1px solid darkblue;
    width: 100px;
    height: 100px;
    background: lightgreen;
  }
}
.red {
  background: tomato;
}
